extends layout.pug 

block vars
  - var title = 'title'

block title
        | JavaScript and Protractor
        
block content
        ul.credits
          li Paweł Kamiński
          li Daniel Lipowicz
        p.credits
          | Level Up 2017  